<div class="container">
<h1>Nuestros productos</h1>
</div>
{{#each product}}
<div>
    <p>Nombre:{{this.title}}</p>
    <p>Precio:{{this.price}}</p>
    <p>Stock:{{this.stock}}</p>
    <button id="buton">Añadir al carrito</button>
</div>
{{/each}}

<script src="../routes/product.routes.js"></script>